
<div id="methode">
  <p><%= t("nav.methode")%></p>
</div>
<hr>
<div id="approche">
  <p><%= t("nav.approche")%></p>
</div>
<hr>
<div id="pilote">
  <p><%= t("nav.pilote") %></p>
</div>
<hr>
<div id="ecole">
  <p><%= t("nav.ecole") %></p>
</div>
<hr>
<div id="impliquez">
  <p><%= t("nav.impliquez") %></p>
</div>
<hr>
<div id="apropos">
  <p><%= t("nav.apropos") %></p>
<hr>
