
<div id="objectif">
  <p><%= t("nav.objectif")%></p>
  <p><%= raw(@kamalpha.objectif) %></p>
</div>
<hr>
<div id="methode">
  <p><%= t("nav.methode")%></p>
  <p><%= raw(@kamalpha.methode) %></p>
</div>
<hr>
<div id="logiciel">
  <p><%= t("nav.logiciel")%></p>
  <p><%= raw(@kamalpha.logiciel) %></p>
</div>
<hr>
<div id="pilote">
  <p><%= t("nav.pilote") %></p>
  <p><%= raw(@kamalpha.pilote) %></p>
</div>
<hr>
<div id="ecole">
  <p><%= t("nav.ecole") %></p>
</div>
<hr>
<div id="impliquez">
  <p><%= t("nav.impliquez") %></p>
</div>
<hr>
<div id="apropos">
  <p><%= t("nav.apropos") %></p>
<hr>
<div id="neuf">
  <p><%= t("nav.neuf") %></p>
<hr>ne
